<div class="container my-5">
	<h1>JSON Invoice Reader</h1>
	<br>
	<div class="mb-3">
		<input class="form-control" type="file" accept="application/json" (change)="onFileSelected($event)">
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Invoice Id</th>
				<th>Sender Title</th>
				<th>Receiver Title</th>
				<th>Invoice Date</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of invoiceHeaders" (click)="openPopup(item)">
				<td>{{ item.invoiceId }}</td>
				<td>{{ item.senderTitle }}</td>
				<td>{{ item.receiverTitle }}</td>
				<td>{{ item.date | date:'dd/MM/yyyy' }}</td>
			</tr>
		</tbody>
	</table>

	<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<p>Invoice Id: {{ selectedInvoice?.invoiceId }}</p>
						<p>Sender Title: {{ selectedInvoice?.senderTitle }}</p>
						<p>Receiver Title: {{ selectedInvoice?.receiverTitle }}</p>
						<p>Date: {{ selectedInvoice?.date | date:'dd/MM/yyyy' }}</p>
					</h5>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<th>Invoice Id</th>
								<th>Name</th>
								<th>Quantity</th>
								<th>Unit Code</th>
								<th>Unit Price</th>
								<th>Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let invoiceLine of invoiceLines">
								<td>{{ invoiceLine.invoiceId }}</td>
								<td>{{ invoiceLine.name }}</td>
								<td>{{ invoiceLine.quantity }}</td>
								<td>{{ invoiceLine.unitCode }}</td>
								<td>{{ invoiceLine.unitPrice }}</td>
								<td>{{ invoiceLine.quantity * invoiceLine.unitPrice }}</td>
							</tr>
						</tbody>
					</table>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>